{% extends 'base.html' %}

{% block content %}


{% for contests_label, contests in contests_list %}
    <div class="container">
        <h2>コンテスト一覧</h2>
        <h3>{{ contests_label }}</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>開始時刻</th>
                    <th>コンテスト名</th>
                    <th>時間</th>
                </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                    <tr>
                        <td>{{ contest.get_start_time_str }}</td>
                        <td><a href="{% url 'contests:contest_detail' contest.short_name %}">{{ contest.title }}</a></td>
                        <td>{{ contest.get_time_str }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}

{% endblock content %}