{% extends 'contests/contest_base.html' %}

{% block contest_tab_problems %}active{% endblock %}

{% block contest_content %}

{% if contest.is_future_contest %}
    <div class="col-sm-12 mb-3">
        <h3>まだ開催されていません</h3>
    </div>
{% elif contest.is_live and user not in contest.users.all %}
    <div class="col-sm-12 mb-3">
        <h3>参加してください</h3>
    </div>
{% else %}
    <div class="col-sm-12 mb-3">
        <h3>{{ problem.title }}</h3>
    </div>
    {% comment %} 問題のタイトル表示 {% endcomment %}
    {% comment %} 問題の表示 {% endcomment %}
    <div class="col-sm-12 mb-3">
        {{ problem.question }}
    </div>

    {% comment %} ログイン済の場合は解答提出フォームを表示する {% endcomment %}

    {% comment %} 解答提出フォームの表示 {% endcomment %}
    {% comment %} フォーム本体 {% endcomment %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
            <div class="col-auto">
                {{field.label}}
            </div>
            <div class="col-auto">
                {{field}}
            </div>
            {% if field.errors %}
                <div class="col-auto">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary">提出</button>
        {% endif %}
    </form>
    {% comment %} 全体エラーメッセージ {% endcomment %}
    {% if form.non_field_errors %}
        {% for non_field_error in form.non_field_errors %}
            {{ non_field_error }}
        {% endfor %}
    {% endif %}
    {% comment %} ログインしていない人 {% endcomment %}
    {% if not user.is_authenticated %}
        提出するには
        {% include "components/signup_link.html" %}
        または
        {% include "components/login_link.html" %}
    {% endif %}
{% endif %}

{% endblock contest_content %}