{% extends 'contests/contest_base.html' %}

{% block contest_tab_standings %}active{% endblock %}

{% block contest_content %}
<div class="col-sm-12">
    <h3>順位表</h3>
    <table class="table table-bordered table-striped small text-center">
        <thead>
            <tr>
                <th width="7%">順位</th>
                <th width="15%">ユーザ</th>
                <th width="8%">得点</th>
                {% for problem in problems %}
                    <th width="8%">{{ problem.order }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in table_rows %}
                <tr {% if row.user == user %}class="table-primary"{% endif %}>
                    <td>{{ row.order }}</td>
                    <td class="text-start fw-bold">{{ row.user }}</td>
                    <td>
                        <span class="span-total-score fw-bold">{{ row.score }}</span>
                        {% if row.penalty != 0 %}
                            <span class="span-penalty">({{ row.penalty }})</span>
                        {% endif %}
                        <br>
                        <span class="span-time">{{ row.time }}</span>
                    </td>
                    {% for problem_score in row.problem_scores %}
                        <td>
                            <span class="span-score fw-bold">{{ problem_score.score }}</span>
                            {% if problem_score.penalty != 0 %}
                                <span class="span-penalty">({{ problem_score.penalty }})</span>
                            {% endif %}
                            <br>
                            <span class="span-time">{{ problem_score.get_time_str }}</span>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contest_content %}