{% extends 'contests/contest_base.html' %}

{% block contest_tab_submissions %}active{% endblock %}

{% block contest_content %}

<div class="col-sm-12">
    <h3>提出一覧</h3>
</div>
{% if user not in contest.users.all and not contest.is_past_contest %}
    <p>参加してください</p>
{% else %}
    {% comment %} 開催中は自分の提出しか見れないようになっている {% endcomment %}
    {% comment %} コンテスト終了後は全ての提出が見られる {% endcomment %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>提出日時</th>
                <th>問題</th>
                <th>ユーザ</th>
                <th>得点</th>
                <th>結果</th>
                <th>詳細</th>
            </tr>
        </thead>
        {% for submission in submissions %}
            <tbody>
                <tr>
                    <td>{{ submission.get_date_str }}</td>
                    <td>
                        <a href="{% url 'contests:problem_detail' contest.short_name submission.problem.id %}">
                            {{ submission.problem.title }}
                        </a>
                    </td>
                    <td>{{ submission.user.get_colored_username|safe }}</td>
                    <td>{{ submission.point }}</td>
                    <td>
                        {% if submission.judged_test_case < submission.total_test_case %} {% comment %} ジャッジ中 {% endcomment %}
                            <span class="badge label-waiting-judge {% if not submission.accepted %}label-warning{% endif %}">
                                {{submission.judged_test_case}}/{{submission.total_test_case}}
                            </span>
                        {% else %} {% comment %} 結果が確定 {% endcomment %}
                            <span class="badge label-{% if submission.accepted %}success{% else %}warning{% endif %}">
                                {{ submission.status }}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'contests:submission_detail' contest.short_name submission.id %}">
                            詳細
                        </a>
                    </td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
{% endif %}

{% endblock contest_content %}