body {
    background-color: white;
}

main {
    margin: 60px 15px 0;
}

/* logo size */
#img_logo {
    height: 30px;
}

/* WAIT badge */
.label-waiting-judge {
    background-color: #6d6d6d;
}

/* AC badge */
.label-success {
    background-color: #5cb85c;
}

/* WA badge */
.label-warning {
    background-color: #f0ad4e;
}

/* all a color */
a {
    color: #337ab7;
    text-decoration: none;
}

/* 得点表 */
.span-total-score {
    color: #0000FF;
}

.span-score {
    color: #00AA3E;
}

.span-time {
    color: #888;
}

.span-penalty, .error_message {
    color: #FF0000;
}

thead > tr {
    font-weight: bold;
}

h2, h3, h4, h5 {
    font-weight: bold;
}

.code {
    padding: 10px;
    background-color: #eeeeee;
    border-radius: 5px;
}