{% extends 'base.html' %}

{% block content %}
<div class="container"></div>
{% if user.is_authenticated %}
    <h2>ログイン済</h2>
    <p>こんにちは、{{user.username}}さん！</p>
    {% if user.is_superuser %}
        <p>管理者アカウントです</p>
        {% include 'components/admin_link.html' %}
    {% endif %}
    {% include 'components/logout_link.html' %}
{% else %}
    <h2>ゲストユーザー</h2>
    <p>あなたはゲストユーザーです</p>
    {% include 'components/signup_link.html' %}
    {% include 'components/login_link.html' %}
{% endif %}
{% endblock content %}